<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar >


      <!--<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>-->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">DashBoard</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!--
        <ion-item ng-repeat="(key,item) in playlists" href="#/app/playlists/{{key}}">
          {{item}} {{Object.keys(item)}}
        </ion-item>-->
        <ion-item class="card card-padding" ng-repeat="(key,item) in playlists" href="#/app/playlists/{{key}}">
          <div class="item item-text-wrap">
            {{$index+1}} <img class="full-image" ng-src="{{item.url}}" alt="">
          </div>
        </ion-item>



      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>